/* Общие стили */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Стилизация карточки */
.card {
  width: 300px;
  height: 200px;
  background-color: rgb(82, 76, 76);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 30px;
}

/* Кнопка */
.btn-primary {
  padding: 12px 24px;
  background-color: #727f8d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #c3cbd3;
}

/* Компонент AppAlert */
.alert {
  padding: 20px;
  border: 1px solid transparent; /* Устанавливаем прозрачную рамку вокруг всего блока */
  border-radius: 5px;
  margin-bottom: 10px;
  width: 80%;
  text-align: center;
  position: relative; /* Позволяет позиционировать псевдоэлементы относительно родителя */
}

.alert-text {
  font-weight: bold;
  margin-bottom: 10px;
}

.primary {
  border-left: 8px solid #108a0c; /* Полоса слева зелёного цвета */
  background-color: #d2f1d1;
  color: #23d32c;
}

.danger {
  border-left: 8px solid #842029; /* Полоса слева красного цвета */
  background-color: #f8d7da;
  color: #842029;
}

.warning {
  border-left: 8px solid #856404; /* Полоса слева оранжевого цвета */
  background-color: #fff3cd;
  color: #856404;
}
